@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Chào mừng <a href="https://learn.microsoft.com/aspnet/core">đến website VNTour du lịch</a>.</p>
</div>
